{% load static %}
{% include "vatsalya/header.html" %}
{% include "vatsalya/hero.html" %}


<main id="main">


    <div style="width: 80%; background-color: #050c45; margin-left:10%; display: flex; justify-content: center; align-items: center; margin-top:20px;">
          <h1 style="margin: 0; color:#f5a91b;">Admissions offered in the academic year </h1>    
      </div>
      <ul style="justify-content: center; align-items: center; margin-left:10%;">
          <li>
          S Vatsalya Academy offer admissions to Kindergarten Nursery to Grade 8.
          </li>
      </ul>
  
      <div style="width: 80%; background-color: #050c45; margin-left:10%; display: flex; justify-content: center; align-items: center; margin-top:20px;">
          <h1 style="margin: 0; color:#f5a91b;">Application form </h1>    
      </div>
      <ul style="justify-content: center; align-items: center; margin-left:10%;">
          <li>
          Parents who wish to apply for admission should obtain the brochure and application form school.
          </li>
      </ul>
  
      <div style="width: 80%; background-color: #050c45; margin-left:10%; display: flex; justify-content: center; align-items: center; margin-top:20px;">
          <h1 style="margin: 0; color:#f5a91b;">Criteria for submission of application form </h1>    
      </div>
      <ul style="justify-content: center; align-items: center; margin-left:10%;">
          <li>
          The duly completed application form must be submitted in the School Office on or before the stipulated date.
          </li>
          <li>The following documents should accompany the form:
              <ul>
                  <li>Certified copy of School Report of the previous academic year (if applicable).</li>
                  <li>Four passport size photographs, of the child and two photographs of parents.</li>
                  <li>One certified copy of Child’s Birth Certificate.</li>
                  <li>Copy of the T.C. (If possible).</li>
              </ul>
          </li>
          <li>Original documents of the submitted photocopies should be made available upon request for verification.</li>
      </ul>
  
      <div style="width: 80%; background-color: #050c45; margin-left:10%; display: flex; justify-content: center; align-items: center; margin-top:20px;">
          <h1 style="margin: 0; color:#f5a91b;">Confirmation of admission </h1>    
      </div>
      <ul style="justify-content: center; align-items: center; margin-left:10%;">
          <li>
          On receipt of acceptance of admission, parents have to pay the fees within the stipulated date.
          </li>
          <li>The following documents should also be submitted:
              <ul>
                  <li>If for any reason the Transfer Certificate cannot be produced at the time of admission, it must be produced on or before the commencement of the academic session.</li>
              </ul>
          </li>
  
      </ul>
  
  
  
     
  </main>

{% include "vatsalya/footer.html" %}