{% load static %}
{% include "vatsalya/header.html" %}
{% include "vatsalya/hero.html" %}
<main id="main">


    <div style="width: 80%; background-color: #050c45; margin-left:10%; display: flex; justify-content: center; align-items: center; margin-top:20px;">
          <h1 style="margin: 0; color:#f5a91b;">Annual Report</h1>    
      </div>
     
      <div style="width: 80%;  margin-left:10%; margin-bottom :5%; display: flex; justify-content: center; align-items: center; margin-top:20px; border: 2px solid black; padding: 20px;">
      <p style="color: black; text-align: center;"></p>
    </div>
    
    
  
    <div style="width: 80%; background-color: #050c45; margin-left:10%; display: flex; justify-content: center; align-items: center; margin-top:20px;">
          <h1 style="margin: 0; color:#f5a91b;">Results</h1>    
      </div>
     
      <div style="width: 80%;  margin-left:10%; margin-bottom :5%; display: flex; justify-content: center; align-items: center; margin-top:20px; border: 2px solid black; padding: 20px;">
      <p style="color: black; text-align: center;">
  </p>
    </div>
  
    <div style="width: 80%; background-color: #050c45; margin-left:10%; display: flex; justify-content: center; align-items: center; margin-top:20px;">
          <h1 style="margin: 0; color:#f5a91b;">Toppers</h1>    
      </div>
     
      <div style="width: 80%;  margin-left:10%; margin-bottom :5%; display: flex; justify-content: center; align-items: center; margin-top:20px; border: 2px solid black; padding: 20px;">
      <p style="color: black; text-align: center;">
  </p>
    </div>
  
    <div style="width: 80%; background-color: #050c45; margin-left:10%; display: flex; justify-content: center; align-items: center; margin-top:20px;">
          <h1 style="margin: 0; color:#f5a91b;">Academic Calender</h1>    
      </div>
     
      <div style="width: 80%;  margin-left:10%; margin-bottom :5%; display: flex; justify-content: center; align-items: center; margin-top:20px; border: 2px solid black; padding: 20px;">
      <p style="color: black; text-align: center;"></p>
    </div>
  </main>


{% include "vatsalya/footer.html" %}