{% load static %}
{% include "vatsalya/header.html" %}
{% include "vatsalya/hero.html" %}

<main id="main">
    <!-- ======= Menu Section ======= -->
        <section id="menu" class="menu">
          <div class="container" data-aos="fade-up">
    
            <div class="section-header">
              <h2>S.Vatsalya Academy</h2>
              <p><span>Facilities</span></p>
            </div>
    
            <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
    
            <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                  <h4>Smart class and computer Lab</h4>
                </a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                  <h4>Transportation</h4>
                </a>
    
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                  <h4>FAQ</h4>
                </a>
              </li>
             
            
            </ul>
    
            <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
    
              <div class="tab-pane fade active show" id="menu-starters">
    
                <div class="tab-header text-center">
                 
                  <h3>Smart class and computer Lab</h3>
                </div>
    
                <div class="row gy-5">
    
                  <div class="col-lg-4 menu-item">
                    <a href="#" class="glightbox"><img src="{% static "assets/img/s1.jpg"%}" class="menu-img img-fluid" alt=""></a>
                              
                  </div>
    
                  <div class="col-lg-4 menu-item">
                    <a href="#" class="glightbox"><img src="{% static "assets/img/s2.jpg"%}" class="menu-img img-fluid" alt=""></a>
                    
                                 </div>
    
                  <div class="col-lg-4 menu-item">
                    <a href="#"  class="glightbox"><img src="{% static "assets/img/s3.jpg"%}" class="menu-img img-fluid" alt=""></a>
                   
                   
                  </div>
    
              
    
                </div>
              </div>
    
              <div class="tab-pane fade" id="menu-breakfast">
    
                <div class="tab-header text-center">
                  <!-- <p>Menu</p> -->
                  <h3>Transportation</h3>
                </div>
    
                <div class="row gy-5">
    
               
                  <div style="width: 80%;  margin-left:10%; margin-bottom :5%; display: flex; justify-content: center; align-items: center; margin-top:20px; border: 2px solid black; padding: 20px;">
        <p style="color: black; text-align: center;">For Class I to VIII<br>
        Own Buses– 10<br>
        Buses Hired On contract Basis – 0<br>
        Details of Transport Charges – As per kilometer <br>
    </p>
      </div>
                </div>
              </div>
    
              <div class="tab-pane fade" id="menu-lunch">
    
                <div class="tab-header text-center">
                
                  <h3>FAQ</h3>
                </div>
    
                <div class="row gy-5">
    
                <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. What is the admission procedure?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>S Vatsalya Academy offer admissions to Kindergarten Nursery to Grade 8.</strong> Parents who wish to apply for admission should obtain the brochure and application form school.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2.Which curriculum is followed by the school ?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>S. Vatsalya Academy </strong> follows CBSE curriculum.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3.How many terms will the school have?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong> We will be having only two semesters as per CBSE</strong> 
          </div>
        </div>
      </div>
    </div>
    
                </div>
              </div>
    
            </div>
    
          </div>
        </section> 
        <!-- End Menu Section-->
    
        </main>

{% include "vatsalya/footer.html" %}