{% load static %}
{% include "vatsalya/header.html" %}
{% include "vatsalya/hero.html" %}

<main id="main">


  <div style="width: 80%; background-color: #050c45; margin-left:10%; display: flex; justify-content: center; align-items: center; margin-top:20px;">
        <h1 style="margin: 0; color:#f5a91b;">FEE DETAILS</h1>    
    </div>
   
    <div style="width: 80%;  margin-left:10%; margin-bottom :5%; display: flex; justify-content: center; align-items: center; margin-top:20px; border: 2px solid black; padding: 20px;">
    <p style="color: black; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum tellus ut dui lacinia, nec eleifend libero efficitur. Aliquam erat volutpat. Vivamus vitae erat in ex fermentum facilisis. Integer ac sapien nec lorem venenatis pretium.</p>
  </div>
   
   
</main>

{% include "vatsalya/footer.html" %}