  
  {% load static %}

   <!-- ======= Stats Counter Section ======= -->
   <section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter" style="display: inline-block;"></span>
            <span style="display: inline;">+</span>
            <p >Teachers</p>
          </div>
        </div><!-- End Stats Item -->
        
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter" style="display: inline-block;"></span>
            <span style="display: inline;">+</span>
            <p>Students</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter" style="display: inline-block;"></span>
            <span style="display: inline;">+</span>
            <p>Rooms</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter" style="display: inline-block;"></span>
            <span style="display: inline;">+</span>
            <p>Subject</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>
  </section>
  <!-- End Stats Counter Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Our Courses</h3>
              <p>
                As an esteemed educational institution, S.Vatsalya Academy is committed to providing a comprehensive array of courses tailored to nurture the varied interests and ambitions of our students. Our meticulously crafted curriculum ensures a holistic education, empowering learners with the competencies and wisdom to excel in their pursuits. From foundational teachings to advanced concepts, S.Vatsalya Academy offers courses spanning from 1st to 8th grade, fostering a dynamic learning environment where every student thrives.
               </p>
              <!-- <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div> -->
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-center">
            <div class="row gy-4">

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                 <img src="{% static "assets/img/sm.jpg"%}" alt="" style="width: 150px; height: 150px; margin-bottom: 2px;  border-radius: 50%;">
                  <h4>SMART CLASSES</h4>
                  <p>Enter our dynamic smart classrooms, where interactive technology fuels curiosity and enhances learning.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <img src="{% static "assets/img/2.jpg"%}" alt="" style="width: 150px; height: 150px; margin-bottom: 2px; border-radius: 50%;">
                  <h4>COMPUTER LAB</h4>
                  <p>Explore our modern computer lab, where students delve into digital learning, honing essential skills for the future.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <img src="{% static "assets/img/sports.jpeg"%}" alt="" style="width: 150px; height: 150px; margin-bottom: 2px;  border-radius: 50%;">
                  <h4>SPORTS</h4>
                  <p>Discover our dynamic sports facilities, promoting teamwork and physical fitness for a well-rounded education.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Why Us Section -->